@import 'vars.scss';
html{
    min-height: 100vh;
    position: relative;
}
.footer{
    position:absolute;
    background: $blue-basic;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;

    
    
        p{
            width: 40%;
            text-align: center;
            font-size: 3rem;
            margin: 1rem;
    }
        div{
            display: flex;
            width: 50%;
            justify-content: space-around;
            cursor: pointer;
            
        }
            a{
                @include bordered(2);
                    margin: 1rem;
                    line-height: 4rem;
                    font-size: 3rem;
                    width: 10%;
                    text-align: center;
                    transition: all 0.3s ;
                    color: $link-text;
                            &:hover{
                            background:$yellow-basic;
                            }
                }
}

@media only screen and (max-device-width  : 500px) {
  .footer {
    flex-direction: column;
      p{
      font-size: 4rem;
      }
      .footer-link-item{
           font-size: 4rem;   
      }
  }
}